<div class="profCont">
	<header class="text-left profileHeader"><%= currentUser.firstname %>'s Profile</header>
	<div id="profilePage">	
	<h1>Favorite Parks</h1>
		<div class="row">
			<div class='col-xs-12'>
				<% user.parks.forEach(function(item){ %>
						<div class='info'>
							<h3><%= item.fullName %></h3>
						<form method="POST" id='search-form' action="/show/show">
							<input hidden type="text" name="parkname" value="<%= item.parkname %>">
							<input hidden name='parkCode' type="text" value="<%= item.parkCode %>">
							<button class='btn btn-success profBtn' type="text">more details</button>
						</form>
				   			<a href ='/favorites/<%= item.id %>' class='btn btn-danger delete-link profBtn'>remove park</a>
				   		</div>
				<% }); %>
			</div>
		</div>
	</div>
</div>







