
	<div class="container">
		<div class="row">
			<h1 class="col-xs-12 col-sm-offset-1 col-sm-11">
				<%= currentUser.firstname.charAt(0).toUpperCase() + currentUser.firstname.slice(1); %>'s Favorite Parks
			</h1>
		</div>
	</div>
		<section>
			<div class="profCont">
				<div id="home">

					<div class='col-xs-12 col-sm-offset-1 col-sm-10'>
						<% user.parks.forEach(function(item){ %>
							<div class="result-content col-xs-12 col-sm-4">
								<div class='results col-xs-12 col-sm-12'>
									<h2>
										<%= item.fullName %>
									</h2>
									<form method="POST" id='search-form' action="/show/show">
										<input hidden type="text" name="parkname" value="<%= item.parkname %>">
										<input hidden name='parkCode' type="text" value="<%= item.parkCode %>">
										<button class='btn btn-success profBtn' type="text">more details</button>
									</form>
									<a href='/favorites/<%= item.id %>' class='btn btn-danger delete-link profBtn'>remove park</a>
								</div>
							</div>
							<% }); %>
					</div>
				</div>
			</div>
		</section>









