<div class='col-xs-4'>
	<h2>Hey there, <%= currentUser.firstname %> !</h2>
	<hr>
	<% user.parks.forEach(function(item){ %>
		<div class=" text-center">
			<ul class='info well'>
				<h3><%= item.fullName %></h3>
				<p><%= item.description %></p>
			</ul>
			<form method="POST" id='search-form' action="/show/show">
				<input hidden type="text" name="parkname" value="<%= item.parkname %>">
				<input hidden name='parkCode' type="text" value="<%= item.parkCode %>">
				<button type="text">More Details</button>
			</form>
	   			<a href ='/favorites/<%= item.id %>' class='btn btn-danger delete-link'>remove from favorites</a>


		</div>
		<hr>
		<% }); %>
</div>

